# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environment
venv/
.env/

# SQLite database
*.db

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VSCode / PyCharm settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
